/*----- Reset -----*/

body, h1, fieldset {
	margin: 0;
	padding: 0;
}

/*---------- Basic Elements ----------*/

h1 {
	color: #3a4956;
	margin-bottom: 10px;
	font-family: 'Fondamento', cursive;
	font-size: 28px; /* 28px / 10px/ */
	text-shadow: 0 1px 1px #fff;
	border-bottom: 3px solid #3a4956;
}

fieldset {
	border: none;
	color: #3a3930;
}

/*---------- Structure ----------*/

body {
	background: url('../images/light_paper.png');
	font: 62.5%/1.5 arial, helvetica, sans-serif;
}

#container {
	width: 960px;
	margin: 10px auto;
}

#container-inner {
	width: 320px;
	padding: 10px 15px;
	margin: 0 auto;
	background: url('../images/clean_textile.png');
	-moz-box-shadow: 0 0 4px #262626;
	-webkit-box-shadow: 0 0 4px #262626;
	box-shadow: 0 0 4px #262626;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

/*---------- Form Design ----------*/

label, input, textarea {
	display: block;
}

input, textarea {
	margin: 3px 0 10px;
}

textarea {
	width: 318px;
	height: 70px;
}

input[type="text"] {
	width: 313px;
	height: 20px;
	border-width: 1px;
	padding-left: 5px;
}

label {
	font-size: 16px;
}

/*----- CTA Button -----*/

.controls {
	margin-top: 15px;
}

input[type="submit"] {
	width: 100%;
	padding: 5px 20px;
	font-weight: bold;
	font-size: 16px;
	background: #3A4856;
	color: #F3F3F3;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: none;
}

input[type="submit"]:hover {
	background: #468fd7;
	cursor: pointer;
}

/*----- Placeholders -----*/

input[name="name"] {
	background: #fff url('../images/name_placeholder.png') no-repeat 5px 4px;
}

input[name="name"]:active, input[name="name"]:focus {
	background-image: none;
}

input[name="email"] {
	background: #fff url('../images/email_placeholder.png') no-repeat 5px 4px;
}

input[name="email"]:active, input[name="email"]:focus {
	background-image: none;
}

/*----- Focus "Fix" -----*/

input[type="text"]:focus {
	border: 2px solid #6bb8e5;
	box-shadow: 0 0 2px #6bb8e5;
	width: 311px;
	height: 18px;
}

textarea:focus {
	border: 2px solid #6bb8e5;
	box-shadow: 0 0 2px #6bb8e5;
	width: 316px;
	height: 68px;
}
